

.header-image {
  position: relative;
  background-image: url('/static/core/img/galeria/galeria.jpg');
  background-size: cover; /* Mantiene el tamaño adecuado sin recortes */
  background-position: center 30%; /* Centra la imagen */
  background-repeat: no-repeat;
  height: 85vh; /* Mantiene la altura completa */
  width: 100%; /* Mantiene el ancho completo */;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: #ffffff;
    font-size: 55px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
  }

  .btn-instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .btn-instagram ion-icon {
    font-size: 32px;
    color: white;
  }

.container_1{
    background-color: #f8f8f8;
}

.container_2 {
  background-color: #f2cc39;
  width: 100%; /* Mantiene el ancho completo */;
  padding: 15px 0 15px 0;
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}