{% extends 'core/base.html' %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'core/css/home.css' %}" />

<div class="container-fluid container_1" style="padding: 0%">
  <div style="padding-top: 50px; text-align: center">
    <header class="bg-primary text-white text-center py-5">
      <div class="texto_bienvenido">
        <h1><b>BIENVENIDO A</b></h1>
        <h1><b>LA ACADEMIA DEL ACORDEÓN</b></h1>
        <p class="welcome-description">
          Aprende a tocar el acordeón con los mejores maestros
        </p>
        <a href="{% url 'core:nosotros' %}" class="btn btn-warning">MAYOR INFO...</a>
      </div>
    </header>

    <section class="container container_2 my-5 text-center">
      <h2 class="title">Nuestros Cursos</h2>
      <p class="nivel-description">Desde nivel básico hasta avanzado</p>
      <div class="row g-4">
        <!-- g-4 agrega espacio entre tarjetas -->
        <div class="col-md-4">
          <div class="card curso-card text-dark bg-warning h-100">
            <div class="card-body">
              <div class="titulo-wrapper">
                <h3 class="card-title">PRINCIPIANTE</h3>
                <img
                  src="{% static 'core/img/acordeon_icono.png' %}"
                  alt="icono_acordeon"
                  class="icono-acordeon"
                />
              </div>
              <p class="card-text mt-3">
                Aprende los fundamentos del acordeón y mejora tu técnica básica
                rápidamente.
              </p>
              <div>
                <img
                  src="{% static 'core/img/principiante.jpg' %}"
                  alt=""
                  class="img-fluid rounded mx-auto d-block"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card curso-card text-dark bg-warning h-100">
            <div class="card-body">
              <div class="titulo-wrapper">
                <h3 class="card-title">
                  INTERMEDIO
                  <img
                    src="{% static 'core/img/acordeon_icono.png' %}"
                    alt="icono_acordeon"
                    class="icono-acordeon"
                  />
                </h3>
              </div>

              <p class="card-text">
                Mejora tu técnica y repertorio mientras perfeccionas tu estilo
                musical.
              </p>
              <div>
                <img
                  src="{% static 'core/img/intermedio2.jpg' %}"
                  alt=""
                  class="img-fluid rounded mx-auto d-block"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card curso-card text-dark bg-warning h-100">
            <div class="card-body">
              <div class="titulo-wrapper">
                <h3 class="card-title">
                  AVANZADO
                  <img
                    src="{% static 'core/img/acordeon_icono.png' %}"
                    alt="icono_acordeon"
                    class="icono-acordeon"
                  />
                </h3>
              </div>

              <p class="card-text">
                Domina la ejecución del instrumento a un nivel profesional.
              </p>
              <div>
                <img
                  src="{% static 'core/img/avanzado.jpg' %}"
                  alt=""
                  class="img-fluid rounded mx-auto d-block"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- por que escoger la academia -->
    <section class="academia-section">
      <div class="academia-texto">
        <h1>¿Por qué elegir la academia?</h1>
        <h2>Un historial probado de excelencia</h2>
        <p>
          Nuestra misión a tiempo completo es enseñar música mientras fomentamos
          el carácter, la creatividad, habilidades para la vida y el bienestar
          en cada estudiante.
        </p>
        <ul>
          <li>
            Contaras con un mentor profesional , altamente calificado no solo como musico sino como Maestro.
          </li>
          <li>Podemos ensenarte a hacer fusion del acordeon con diversos generos musicales.</li>
          <li>
            No es necesario que tengas un acordeón para iniciar.
          </li>
          <li> Estamos ubicados en una zona de facil acceso en la ciudad y tambien brindamos clases online.</li>
          <li> Empezaras a tocar acordeon desde el primer dia de clase. </li>
          <li> Precios accesibles y paquetes especiales. </li>
          <li> Programas personalizados según tu nivel y objetivos. </li>
          <li> Ambiente motivador y creativo.</li>
          <li> Acceso a materiales exclusivos y recursos digitales. </li>
          <li> Clases grupales e individuales disponibles.</li>
        </ul>
      </div>
      <div class="academia-img-contenedor">
        <img
          src="{% static 'core/img/escoger_img.JPEG' %}"
          alt="ACORDEON"
          class="academia-img"
        />
      </div>
    </section>

    <!-- Testimonios -->
   

    <section class="bg-warning  my-5">
      <div class="container_testimonio g-3 my-5 text-center">
        <h2>Lo que dicen nuestros estudiantes</h2>
        <p>"Una experiencia increíble, aprendí mucho en poco tiempo!"</p>
      </div>
      <div
        id="carruselTestimonios"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <!-- Indicadores -->
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="2"
          ></button>
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="3"
          ></button>
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="4"
          ></button>
          <button
            type="button"
            data-bs-target="#carruselTestimonios"
            data-bs-slide-to="5"
          ></button>
        </div>

        <!-- Testimonios -->
        <div class="carousel-inner text-center my-5">
          <div class="carousel-item active">
            <img
              src="{% static 'core/img/testimonios/estudiante_1.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Carlos Méndez"
            />
            <h5 class="fw-bold">Daniela Schiavone</h5>
            <p class="text-muted">Estudiante avanzado</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "Hemos estado con el Sr. Nevar y la Academia Acordeón desde que mis hijos eran muy pequeños, y estoy sumamente agradecida por la experiencia. Ha sido excepcional desde el principio: siempre profesional, paciente y con un conocimiento increíble. Cuida de verdad a sus alumnos, adaptándose a su nivel y ayudándolos a crecer no solo musicalmente, sino también con confianza y disciplina.."
            </p>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'core/img/testimonios/estudiante_2.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Ana Rodríguez"
            />
            <h5 class="fw-bold">Ruth Sigala Diaz</h5>
            <p class="text-muted">Nivel intermedio</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "Nuestros dos hijos se enamoraron del acordeón hace un año y empezaron a tomar clases en la Academia de Acordeón. Estoy impresionado con el progreso que han logrado en tan poco tiempo. El Sr. Nevar es paciente y anima a los niños a tocar la música que les interesa. Nos encanta ver su progreso y su entusiasmo por asistir a sus clases de música."
            </p>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'core/img/testimonios/estudiante_3.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Luis Herrera"
            />
            <h5 class="fw-bold">Javierdelahoz</h5>
            <p class="text-muted">Egresado</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "La mejor academia de Houston recomendada al 1000% muy profesional calida en la atención mucho respeto disciplina y dedicación gracias maestro @ nebar por su talento y pedagogía para ensen̈ar...!!! Dios lo bendiga...!!!"
            </p>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'core/img/testimonios/estudiante_3.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Luis Herrera"
            />
            <h5 class="fw-bold">Andres Urrego</h5>
            <p class="text-muted">Egresado</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "Esta academia es un lugar increíble para aprender música. El profesor no solo es talentoso, sino que también enseña con amor, pasión y respeto. Te sientes realmente apoyado e inspirado para crecer aquí."
            </p>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'core/img/testimonios/estudiante_3.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Luis Herrera"
            />
            <h5 class="fw-bold">Multiservicios De Colombia</h5>
            <p class="text-muted">Egresado</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "Realmente recomiendo al señor Nevar, un excelente profesional con un talento inigualable con su acordeón ! Ha sido uno de nuestros mejores invitados y colaboradores en la radio de TROPIRUMBA FM en Colombia y próximamente aquí en Houston con LBC la red de radio más potente en Texas !"
            </p>
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'core/img/testimonios/estudiante_3.jpg' %}"
              class="rounded-circle img_testi mb-3"
              width="200"
              height="200"
              alt="Luis Herrera"
            />
            <h5 class="fw-bold">Rosenia Ortuño</h5>
            <p class="text-muted">Egresado</p>
            <img
              src="{% static 'core/img/testimonios/comillas.png' %}"
              class="img_comillas"
              alt="comillas"
            />
            <p class="testi-text">
              "Mi primito esta super encantado con sus clases de musica !!"
            </p>
          </div>
        </div>

        <!-- Controles -->
        <button
          class="carousel-control-prev my-3"
          type="button"
          data-bs-target="#carruselTestimonios"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carruselTestimonios"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Esperar a que se cargue el carrusel
          setTimeout(function () {
            const carouselItems = document.querySelectorAll(
              "#carruselTestimonios .carousel-item"
            );
            let maxHeight = 0;

            // Encontrar la altura máxima
            carouselItems.forEach((item) => {
              if (item.offsetHeight > maxHeight) {
                maxHeight = item.offsetHeight;
              }
            });

            // Aplicar la altura máxima a todos los items
            carouselItems.forEach((item) => {
              item.style.minHeight = maxHeight + "px";
            });
          }, 500);
        });
      </script>
    </section>

    <!-- Footer -->
  </div>
</div>
{% endblock %}
