{% extends 'core/base.html' %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}" />

<div class="container-fluid container_1 py-5" style="padding: 0%">
  <div style="text-align: center">
    <header
      class="header-image bg-primary text-white text-center py-5"
    ></header>

    <section class="container-fluid container_2 text-center">
      <h2 class="title">Nosotros</h2>
    </section>

 
    <div class="mt-3">
      <video class="w-40" style="height: auto" controls autoplay muted loop>
        <source
          src="{% static 'core/video/bienvenida.mp4' %}"
          type="video/mp4"
        />
      </video>
    </div>


    <section class="container-fluid container_3 my-5 text-center">
      <div class="container-text text-center">
        <h1 class="text-dark">
          Maestro Nevar Durán: La Travesía de un Acordeón sin Fronteras
        </h1>
        <p class="textos">
          La <b>Academia del Acordeón</b> Nacido en la tierra vallenata de
          Ocaña, Norte de Santander, Colombia, el Maestro <b>Nevar Durán</b> es
          un acordeonista profesional y licenciado en Música cuya vida ha sido
          una sinfonía de dedicación, maestría y evolución durante más de tres
          décadas.
        </p>
        <p class="textos">
          Su destino musical fue escrito desde la cuna. Hijo de un destacado
          acordeonista, encontró en el fuelle y las teclas su primer lenguaje.
          Bajo la tutela paternal, no solo dominó la técnica del instrumento rey
          del vallenato, sino que internalizó su esencia, iniciando una
          trayectoria artística que lo llevaría a escenarios nacionales e
          internacionales.
        </p>
        <p class="textos">
          Además de clases regulares, ofrecemos talleres, conciertos y eventos
          especiales para promover la cultura del acordeón y el vallenato en
          nuestra comunidad.
        </p>
      </div>
      <div class="container-image text-center">
        <img
          src="{% static 'core/img/nosotros/im4.JPEG' %}"
          class="img-fluid"
          alt="Imagen representativa de la Academia del Acordeón"
        />
      </div>
    </section>

    <section class="container-fluid container_4 my-5">
      <div class="container">
        <h2 class="title_1 text-center mb-4">Fundador</h2>
        <div class="row d-flex align-items-stretch my-5">
          <!-- Columna de imagen -->
          <div class="col-md-6 p-0">
            <img
              src="{% static 'core/img/nosotros/nosotros.JPEG' %}"
              class="img-fluid w-100 h-100 object-fit-cover rounded-start"
              alt="Foto de los fundadores de la Academia del Acordeón"
              style="max-height: 100%"
            />
          </div>

          <!-- Columna de texto con fondo amarillo -->
          <div
            class="col-md-6 d-flex align-items-center"
            style="background-color: #f2cc39; padding: 30px"
          >
            <div class="text-start">
              <h3>Una Trayectoria de Excelencia y Versatilidad</h3>
              <p class="textos">
                El Maestro Durán ha dejado su huella en los festivales más
                prestigiosos, destacando su participación en las
                <b
                  >Semifinales del Festival de la Leyenda Vallenata de
                  Valledupar </b
                >en 2005. Su talento lo ha llevado a compartir escenario con
                leyendas y a ser parte de momentos históricos para la música
                colombiana:
              </p>
              <ul>
                <li>
                  Fue
                  <b>acordeonista invitado en el homenaje a Rafael Escalona</b>
                  en el Teatro Colón de Bogotá (2007).
                </li>
                <li>
                  Su arte resonó en eventos especiales, como aquellos en
                  <b>la casa del Nobel Gabriel García Márquez.</b>
                </li>
                <li>
                  Demostrando su versatilidad, fusionó el sonido único de su
                  acordeón con el mundo de la música cristiana contemporánea,
                  grabando con <b>Jesús Adrián Romero</b> en Monterrey y con la
                  <b>Banda Generación 12.</b>
                </li>
              </ul>

              <p class="textos">
                Su profundo conocimiento musical lo consolidó también como un
                respetado arreglista y músico de sesión, colaborando con
                compositores de la talla del Dr. Hernán Urbina Joiro.
              </p>
            </div>
          </div>
        </div>
        <div class="text-start">
          <h3>La Misión Pedagógica: Formar y Sanar</h3>
          <p class="textos">
            La pasión por su arte es solo comparable a su vocación por
            enseñarla. Su formación académica se coronó con una
            <b>Licenciatura en Música de la Universidad del Atlántico</b>,
            gracias a la beca "Colombia Creativa" del Ministerio de Cultura.
            Esta titulación avaló una larga trayectoria docente en fundaciones
            de renombre como <b>"Los Niños del Vallenato" </b> de Andrés "El
            Turco" Gil y la <b>Fundación Cocha Molina</b> en Valledupar, donde
            sus habilidades pedagógicas dejaron una marca significativa.
          </p>
          <p class="textos">
            Hoy, radicado en Houston, Texas, junto a su esposa, la abogada Paola
            Marín, el Maestro Durán lidera un proyecto que sintetiza toda su
            experiencia: <b>"La Academia del Acordeón".</b>
          </p>
          <p class="textos">
            Este innovador proyecto nace de la creencia en el
            <b>poder transformador y sanador de la música.</b> Más allá de la
            técnica, la academia ofrece un
            <b>enfoque social y terapéutico,</b> creando alternativas de
            aprendizaje especializadas para estudiantes con TDA y TDAH. En una
            era de distracciones digitales, "La Academia del Acordeón" se erige
            como un espacio donde un mentor real guía a sus alumnos—de todas las
            edades—para que, a través de la disciplina, la perseverancia y la
            creatividad que exige este instrumento, desarrollen habilidades para
            la vida.
          </p>
          <p>
            El Maestro Nevar Durán no es solo un guardián de la tradición
            vallenata; es un innovador que utiliza su legado para conectar
            culturas, sanar mentes e inspirar a las próximas generaciones.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
